<%- include("./partials/header") %>

	<div id="logreg-forms">
		<form action="/register" method="POST" class="form-signup">
                <input type="text" id="user-name" class="form-control" placeholder="User name" name="username" required="" autofocus="">
                <input type="password" id="user-pass" class="form-control" placeholder="Password" name="password" required autofocus="">
                <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
                <a href="/login" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </form>
    </div>

<%- include("./partials/footer") %>